# Ignore all project folders except Saree4ever 24th Nov 25
Adhvaacademy.in clone repo/
Learning Path bu Adhva-30thSept/
Learning Path bu Adhva-oct2nd final code-workspace.code-workspace
Learning Path working version -Oct 3rd 2025/
Oct 28 LMS-adhva.online/
Saree4ever antigravity/
Saree4ever horizons/
SkillSync/
Website saree4ever copy/
Website saree4ever/
Working copy/
clone rep-learning path-testing/
new buidling freshing-cursore plus clone/

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# But DO track Saree4ever 24th Nov 25 folder
!Saree4ever 24th Nov 25/
